@import "tailwindcss";

:root {
  --color-bg-primary: #efdebf;
  --color-bg-secundary: #211f20;
  --color-bg-third: #407c58;
  --color-hover-green: #a6dabf;
  --shadow-underline-green: 0 2px 0 0 var(--color-hover-green);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Deadlock';
  src: url('/fonts/Colus-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Deadlock, sans-serif;
}
