@import "tailwindcss";

:root {
  --color-bg-primary: #efdebf;
  --color-bg-secundary: #211f20;
  --color-bg-third: #407c58;
  --color-hover-green: #a6dabf;
  --shadow-underline-green: 0 2px 0 0 var(--color-hover-green);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
